{{! NEW CODE -A }}
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog Spot</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header>
        <h1>Keeping Up With Tech</h1>
        <nav>
          {{#if logged_in}}
            <a href="/">Home</a>
            <a href="/post">My Timeline</a>
            <a href="/newpost">Create New Post</a>
            {{! <a href="/">Create New Post</a> }}
            <button class="no-button" id="logout">logout</button>
          {{else}}
            <button type="button"><a href="/login">Sign Up</a></button>
            <a href="/login">Login</a>
            <a href="/">Home</a>
            {{! <a href="/">My Timeline</a> }}
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>

      <footer>

      </footer>

    </div>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>

</html>