<h3>Comment:</h3>
<form class="comForm">
    <textarea placeholder="Add Comment!" class="commentBody"></textarea>
    <button type="submit" class="btn btn-primary commentBody" data-id="{{id}}">Add</button>
</form>

<script src="/js/addcom.js"></script>