<h3>Comment:</h3>
<form class="comForm">
    <textarea name="commentBody" class="commentBody"></textarea>
    <button type="submit" class="btn commentBody" data-id="{{id}}">Add</button>
</form>

<script src="/js/addcom.js"></script>