
<h2>Edit Post</h2>
<input class="post-title" placeholder="{{post.title}}"/>
<textarea class="post-text" placeholder="{{post.post_text}}"></textarea>
<button data-id="{{post.post_id}}" type="submit" class="btn btn-primary editPost">Update</button>

<script src="/js/editpost.js"></script>

