<div class="row mt-4">
  <div class="col-md-6">
    <h3>What's on your mind?</h3>

    <form class="form newPost">
      <div class="form-group">
        <label for="post-title">Topic:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-text">Post:</label>
        <textarea class="form-input" type="text" id="post-text" name="post-text" placeholder="What's on your mind..."></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newpost.js"></script>